.BaseValue {
    display: flex;
    justify-content: space-between;
    height: 24px;
    width: 100%;
}

.BaseValue div {
    justify-content: space-between;
    align-content: center;
}

.BaseValues span {
    margin: 0px 8px;
    font-weight: bold;
    font-size: large;
}

.BaseValues input {
    width: 40px;
    font-size: 18px;
}

.BaseValues {
    width: 240px;
}

.ProfileSettings {
    width: 100%;
}

.SettingValues {
    display: block;
    margin: auto;
}

.SettingValue {
    display: flex;
    justify-content: space-between;
    height: 24px;
}

.SettingValue div {
    justify-content: center;
    align-content: center;
}

.SettingInput {
    display: flex;
}

.SettingInput span {
    flex: 1;
}

.SettingInput input {
    flex: 2;
}

.PresetsSettings {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.PresetsSettings button {
    min-width: 128px;
    margin-bottom: 8px;
}