.ProfileSettings {
    width: 100%;
}

.ProfileSettings p {
    margin: 0px;
}

.SettingValues {
    display: block;
    margin: auto;
}

.SettingValue {
    display: flex;
    justify-content: space-between;
    height: 24px;
}

.SettingValue div {
    justify-content: center;
    align-content: center;
}

.SettingInput {
    display: flex;
}

.SettingInput span {
    flex: 1;
}

.SettingInput input {
    flex: 2;
}

.PresetsSettings {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.PresetsSettings button {
    min-width: 128px;
    margin-bottom: 8px;
}